/* Colors */ 
$blue:  #3113F2;
$light-blue: #3D9DF2;
$dark-blue: #180F50;
$green: #5EF2D7;
$grey: #ECF0F1;

/* Theme */
$default: $dark-blue;
$primary: $blue;
$secondary: $green;
$border-color: $grey;